<section id="clothing" class="my-5 overflow-hidden">
  <div class="container pb-5">
    <div
      class="section-header d-md-flex justify-content-between align-items-center mb-3"
    >
      <h2 class="display-3 fw-normal">Pet Clothing</h2>
      <div>
        <a
          href="#"
          class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1"
        >
          shop now
          <i class="fas fa-arrow-right ms-2 mb-1"></i>
        </a>
      </div>
    </div>

    <div class="row g-4">
      <!-- Product Card Start -->
      <div class="col-md-3">
        <app-pit-clothing-card></app-pit-clothing-card>
      </div>
      <div class="col-md-3">
        <app-pit-clothing-card></app-pit-clothing-card>
      </div>
      <div class="col-md-3">
        <app-pit-clothing-card></app-pit-clothing-card>
      </div>
      <div class="col-md-3">
        <app-pit-clothing-card></app-pit-clothing-card>
      </div>
    </div>
  </div>
</section>
